* {
    margin: 0;
    padding: 0;
  }

:root{
    --bg-color-main-light: #F9F9FC;    
    --bg-color-footer-nav-dark: #151A30;
    --color-under-dark: #949BB7;
    --color-under-light: #9BA2BC;    
    --color-h1-light: #535763;    
    --color-line-light: #6759FF;    
    --color-button-light: #6759FF;    
    --color-box-shadow-light: #949BB7;    
    --color-frame-light: #C3C7D9; 
    --bg-color-main-dark: #111217;    
    --color-under-dark: #949BB7;
    --color-h1-dark: #FDFDFD;
    --color-line-dark: #EA51BC;
    --color-button-dark: linear-gradient(to left top, #EA51BC, 55%, #7B20B5);
    --color-box-shadow-dark: rgba(17, 18, 23, 0.9);
    --color-frame-dark: #949BB7;
    --color-button-hover-light: #5528D6;    
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color-main-light);
}

.dark-theme{
    background-color: var(--bg-color-main-dark);
}